1. streamlit : pip install streamlit
2. langchain : pip install langchain
3. ctransformers : pip install ctransformers


For modules:

# link to models : - https://huggingface.co/TheBloke/Llama-2-7B-Chat-GGML/tree/main






















